body {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-gap: 8px;    
	background-color: #804751;
}

header {
	background-image: url(src/header.jpg);	
}


.container {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: 8px;   
	background-color: white;
}


#canvas, #canvas2 {	
	display: none;
}

.before {	
	display: flex;
	border: 2px solid green;
	background-color: grey;
	height: 100%;
}


img {
	display: block;
	max-width: 100%;
	margin: auto;	
}

#saveImage {
	z-index: 1000;
    text-decoration: none;
    color: green;
    background-color: white;
    border: 2px solid green;
}

.current_instrument_block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 2px solid green;
	background-color: white;
}


.controlers_blok {
	margin: 1%;
	display: grid;
	grid-gap: 8px;
	width: 80%;	
}


.controler {
	display: flex;
	border: 2px solid green;
	color: green;
	justify-content: center;
	align-items: center;
}



.load_reset_save {
	
}

footer {
	background-image: url(src/footer.png);
}

@media only screen and (max-width: 530px){
    body {	
	       grid-template-rows: 1fr 5fr 1fr;
     }

     .container {	
	       grid-template-rows: 1fr 1fr; 
	       grid-template-columns: 1fr; 	
     }
}